In [14]:
#import all modules here
import pandas as pd

In [3]:
data = pd.read_csv('export.csv')

In [5]:
df = pd.DataFrame(data)

In [12]:
df.describe()

              HSCode          value           year
count  137023.000000  122985.000000  137023.000000
mean       51.330302      21.567829    2014.056304
std        28.018026     229.701279       2.580160
min         1.000000       0.000000    2010.000000
25%        28.000000       0.030000    2012.000000
50%        52.000000       0.360000    2014.000000
75%        74.000000       3.770000    2016.000000
max        99.000000   19805.170000    2018.000000

In [13]:
df.isnull().sum()

HSCode           0
Commodity        0
value        14038
country          0
year             0
dtype: int64